@charset "UTF-8";
body {border: 2px solid black;
  height: auto;
  padding: 25px;
  background: url(https://marketplace.canva.com/EAGK_VGJ-wk/1/0/1600w/canva-purple-illustrative-lavender-desktop-wallpaper-IJjKe9JIOeM.jpg);
  background-repeat: repeat;
  background-size: 2560px;
}

.title{background-color:#BBABC4 ; color:#E8EEFF; font-size: 50px; padding: 25px; text-align: center; border-radius: 5px; border: 10px solid transparent;
  border-image: url(https://cbx-prod.b-cdn.net/COLOURBOX58605603.jpg?width=800&height=800&quality=70) 30 round;
}

/* unvisited link */
a.nav:link {
  color: pink; background-color: aliceblue; padding: 10px 10px 10px 10px; border-radius: 5px 5px 
}

/* visited link */
a.nav:visited {
  color: #70527A; background-color: aliceblue; padding: 10px 10px 10px 10px; border-radius: 5px 5px 
}

/* mouse over link */
a.nav:hover {
  color: hotpink; background-color: aliceblue; padding: 10px 10px 10px 10px; border-radius: 5px 5px 
}

/* selected link */
a.nav:active {
  color: purple;
}

#backgroundish{ border: 2px solid pink;
	padding: 5px;  
	background-color: rgba(225, 225, 225, .5);
	height: auto;
}

#navigation {color: #e4dfda;
	text-align: center;
	padding: 15px;
}

.sigmaheader {background-color: rgba(225, 225, 225, .0);
	color:#161822;
	padding: 10px;
	border: 1px solid #BBABC4;
}
.footer{background-color:
	#BBABC4; 
	color:#e4dfda; 
	font-size: 15px; 
	padding: 5px; 
	text-align: center;
}

.Fcolumn{
	width: 31.5%;
	padding: 10px;
	float: left;
	border: double;
	height: 200px;
	margin: 5px 5px
}
.Fcolumn:hover {
	color: #0F588D;
	transform: scale(1.01);
	border: dashed;
}
